 .layout-boxed html,
 .layout-boxed body {
   height: 100%;
 }

 body {
   font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 400;
   overflow-x: hidden;
   overflow-y: auto;
 }

 article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

/**** General Links ****/
a {
  color: #4a4a4a !important;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color:#80e1d7 !important;
}

 /**** Layout ****/

 .wrapper {
   height: 100%;
   position: relative;
   overflow-x: hidden;
   overflow-y: auto;
 }

 .wrapper:before,
 .wrapper:after {
   content: " ";
   display: table;
 }

 .wrapper:after {
   clear: both;
 }

 .wrapper:before,
 .wrapper:after {
   content: " ";
   display: table;
 }

 .wrapper:after {
   clear: both;
 }

 /**** Google fonts ****/

 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
 /**** Login ****/

 @media all and (min-width: 480px) {
   .Login {
     padding: 60px 0;
   }
   .Login form {
     margin: 0 auto;
     max-width: 320px;
   }
 }

 /**** Header ****/

 .main-header ul {
   list-style: none;
   margin-left: 0;
 }

 .main-header {
   height: 100px;
 }

 .search {
   padding: 10px;
   width: 150px;
   border-radius: 50px;
   background-color: #F0F0F0;
   border: none;
   font-size: 16px;
   font-family: Arial, FontAwesome;
   text-align: right;
 }

 .title {
  font-size: 28px;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-family: 'Open-sans', sans-serif;
  color: #4a4a4a;
 }

 .icon-notif {
   background-color: #00BFAC;
 }

 .icon-setting {
   background-color: #FFD15C;
 }

 .icon-user {
   width: 43px;
   height: 43px;
   margin-right: 5px;
 }

 .user-name p {
   text-transform: uppercase;
   margin: 0;
   font-size: 16px;
   font-weight: 500;
   color: #4a4a4a;
 }

 .user-name span {
   margin: 0;
   font-size: 10px;
   font-weight: 100;
   color: #4a4a4a;
 }

 .nav-bar-static-top {
   position: absolute;
   top: 0;
   right: 170px;
   margin-top: 25px;
 }

 /**** Sidebar ****/

 aside.main-sidebar {
   width: 250px;
   background-color: #f8f8f8;
 }

 .logo {
   width: 100px;
   border-radius: 50%;
   background-color: #FFF;
   padding: 10px;
   margin-right: auto;
   margin-left: auto;
   display: block;
   margin-top: 40px;
   margin-bottom: 60px;
   -moz-box-shadow: 0px 0px 30px 1px #cfcfcf;
   -webkit-box-shadow: 0px 0px 30px 1px #cfcfcf;
   -o-box-shadow: 0px 0px 30px 1px #cfcfcf;
   box-shadow: 0px 0px 30px 1px #cfcfcf;
   filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=30);
 }

 .sidebar h3 {
   font-size: 18px;
   font-weight: 300;
   text-transform: uppercase;
   padding: 20px 0px 0 20px;
 }

 .sidebar ul {
   list-style: none;
   margin-left: auto;
   margin-right: auto;
   display: block;
 }

 .sidebar li {
   margin-bottom: 25px;
 }

 .sidebar ul li a {
   text-decoration: none;
   font-weight: 100;
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
 }

 .sidebar .icon {
   width: 10%;
   margin: 0px 10px 5px 0px;
 }

 .connect {
   text-align: center;
   position: relative;
   font-size: 12px;
   top: 60px;
   font-family: 'Open Sans', sans-serif;
 }

 /**** Content ****/

 .content-wrapper {
   width: auto;
   margin-left: 290px;
   background-color: #ffffff;
   padding: 15px;
   height: 1000px;
 }

 .content-wrapper h2 {
   font-family: "Oswald", sans-serif;
   font-weight: 500;
   color: #4a4a4a;
 }

 .block-1 {
   margin: 0px 0px 10px 0px;
 }

 .block-2 {
   width: 49%;
   float: left;
   margin: 10px 0px 10px 0px;
 }

 .block-3 {
   width: 49%;
   float: right;
   margin: 10px 0px 10px 0px;
 }

 .title-b {
   border-bottom: 1px #e8e8e8 solid;
   background-color: #f3f3f3;
   padding: 8px;
   font-size: 13px;
   font-weight: 700;
   color: #45484d;
 }

 .container {
   padding: 20px;
   font-size: 13px;
   display: table-cell;
 }

 .block-1,
 .block-2,
 .block-3 {
   border-radius: 5px;
   -moz-box-shadow: 0px 0px 20px 1px #cfcfcf;
   -webkit-box-shadow: 0px 0px 20px 1px #cfcfcf;
   -o-box-shadow: 0px 0px 20px 1px #cfcfcf;
   box-shadow: 0px 0px 20px 1px #cfcfcf;
   filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=10);
 }

 @media screen and (max-width: 800px) {
   #content-wrapper {
     margin-left: 40px;
   }
 }

/**** Login ****/
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

/**** Header ****/
.main-header ul {
  list-style:none;
  margin-left:0;
}

.main-header{
  height: 100px;
}

.search{
  position: absolute;
  top: 40px;
  left: 300px;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
  background-color: #F0F0F0;
  border: none;
  font-size:16px;
  font-family:Arial, FontAwesome;
  text-align: right;
}

.messages-notif, .settings, .user-img, .user-name{
  position: absolute;
  right: 15px;
  top: 10px;
}

.icon-notif, .icon-setting{
  width: 40px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 50%;
}

.icon-notif{
  background-color: #00BFAC;
  margin-right: 220px;
}

.icon-setting{
  background-color: #00BFAC;
  margin-right: 160px;
}

.icon-user{
  width: 43px;
  margin-right: 100px;
}

.user-name{
  margin-right: 20px;
  display: contents;
}

.user-name p{
  padding-top: 10px; 
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color:#4a4a4a;
}

.user-name span{ 
  margin: 0;
  font-size: 10px;
  font-weight: 100;
  color:#4a4a4a;
}

.nav-bar-static-top{
  position: absolute;
  top: 0;
  right: 170px;
  margin-top: 25px;
}

/**** Sidebar ****/
aside.main-sidebar { 
  background-color: #f8f8f8;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  display: block;
}

.logo{
  width: 100px;
  border-radius: 50%;
  background-color: #FFF;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 40px;
  margin-bottom: 60px;
  -moz-box-shadow: 0px 0px 30px 1px #cfcfcf;
  -webkit-box-shadow: 0px 0px 30px 1px #cfcfcf;
  -o-box-shadow: 0px 0px 30px 1px #cfcfcf;
  box-shadow: 0px 0px 30px 1px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=30); 
}

.sidebar h3{
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 0px 0 20px;
}

.sidebar ul {
  list-style:none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sidebar li {
  margin-bottom:25px;
}

.sidebar ul li a{
  text-decoration: none;
  font-weight: 100;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.icon{
  width: 10%;
  margin: 0px 10px 5px 0px;
}

.connect{
  text-align: center;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  left: 0;
  right: 0;
}

/**** Content ****/
.content-wrapper {
	width: auto;
	margin-left: 290px;
	background-color: #ffffff;
  padding: 15px;
  height:1000px;
}

.content-wrapper h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color:#4a4a4a;
  padding-bottom: 20px;
}

.block-1{
  margin:0px 0px 10px 0px;
  padding: 30px;
}

.block-2{
  width:49%;
  float:left;
  padding: 10px;
  margin:10px 0px 10px 0px;
}

.block-3{
  width:49%;
  float:right;
  padding: 10px;
  margin:10px 0px 10px 0px;
}

.title-b{
  border-bottom:1px #e8e8e8 solid;
  background-color:#f3f3f3;
  padding:8px;
  font-size:13px;
  font-weight:700;
  color:#45484d;
}

.container{
  padding:20px;
  font-size:13px;
  display: table-cell;
}

.block-1, .block-2, .block-3{
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 20px 1px #cfcfcf;
  -webkit-box-shadow: 0px 0px 20px 1px #cfcfcf;
  -o-box-shadow: 0px 0px 20px 1px #cfcfcf;
  box-shadow: 0px 0px 20px 1px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=10);
}

.info-mois{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.info-mois span{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color:#4a4a4a;
  font-size: 18px;
}

.info-mois p{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color:#edb82f;
  font-size: 24px;
}

.info-mois img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 100%;
}

.info{
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  border-color: #f0f0f0;
}

.info span {
  font-size: 18px;
  color:#4a4a4a;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  width: 80px;
  padding: 5px;
}

.info p{
  padding: 7px 0 0px 15px;
  color: #9b9b9b;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.info img{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffd15c;
  padding: 13px;
  margin: 0px 20px 0px 0px;
}

.block-stat{
  position: absolute !important;
  bottom: 10px;
}

.block-stat p{
  font-size: 10px;
  color:#9b9b9b;
  text-align: right;
}

.stats{
  border-radius: 50px;
  text-align: center;
  width: 200px;
  font-size: 12px !important;
  border: 2px solid;
  margin-top:30px !important;
  padding: 5px;
  color: #00bfac;
  border-color: #00bfac;
  position: absolute;
  bottom: 10px;
  left: 40%;
}

.subtitle{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #4a4a4a;
  font-size: 18px;
  border-bottom: 1px solid #f0f0f0;
}

.subtitle img{
  position: absolute;
  right: 10px;
  top: 10px;
}

.dons, .antennes, .event, .organisation{
  text-align: center;
}

.dons img, .antennes img, .event img, .organisation img{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 10px;
}

.dons span, .antennes span, .event span, .organisation span{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #4a4a4a;
  font-size: 18px;
}

.dons p, .antennes p, .event p, .organisation p {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #edb82f;
  font-size: 18px;
}

.nbr{
  font-size: 16px !important;
}

.top-list{
  margin-top: 20px;
}

.list-item{
  list-style:none;
  border-bottom:1px solid #f0f0f0;
}

.list-item p {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #4a4a4a;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}

.list-item .antennes{
  color: #9b9b9b;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.list-item span{
  border-radius: 50px;
  background-color: #ffd15c;
  padding: 4px 7px 4px 7px;
  color: #fff;
  font-size: 10px;
  margin-right: 10px;
}

.top-list li {
  list-style: none;
}

.top-list button{
  border-radius: 50px;
  width: 200px;
  text-align: center;
  font-size: 12px !important;
  border: 2px solid;
  margin-top: 20px !important;
  padding: 5px;
  color: #00bfac;
  border-color: #00bfac;
}

@media screen and (max-width: 800px) {
	#content-wrapper {
		margin-left: 40px;
	}
}

@media screen and (max-width: 480px) {
	#content-wrapper {
		margin-left: 0;
		padding-top: 60px;
	}
}

/**** Shop ****/
.module {
  float: left;
  width: 98%;
  margin-left: 2%;
  margin-bottom: 2%;
  background-color: #fff;
  padding: 1em;
  min-height: 60px;
  transition: all 0.3s linear;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 20px 1px #cfcfcf;
  -webkit-box-shadow: 0px 0px 20px 1px #cfcfcf;
  -o-box-shadow: 0px 0px 20px 1px #cfcfcf;
  box-shadow: 0px 0px 20px 1px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=10);
}

.grid {
  margin-left: -2%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}
@media only screen and (min-width: 481px) {
  .tablet-1 {
    width: 48%;
  }
  .tablet-1:after {
    color: #666;
  }
  .tablet-2 {
    width: 98%;
  }
  .tablet-2:after {
    color: #666;
  }
}

@media only screen and (min-width: 1024px) {
  .desktop {
    width: 31.33333333%;
  }
  .desktop:after {
    color: #666;
  }
}

.more-btn,
.more-menu-btn {
  background: none;
  border: 0 none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
}

.more-dot {
  background-color: #00bfac;
  margin: 0 auto;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 2px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.list-info{
  text-align: center;
}

.info-chart{
  list-style: none;
  display: inline-flex;
}

ul.info-chart{
  margin: 0;
}

.info-chart li{
  padding: 5px;
  color:#9b9b9b;
  font-style: italic;
  font-size: 12px;
}

.men::before {
  content: "◉"; 
  color: #80e1d7; 
  font-style:initial;
  padding-right: 5px;
}

.women::before {
  content: "◉"; 
  font-style:initial;
  color: #d49f15; 
  padding-right: 5px;}

.accessories::before {
  content: "◉"; 
  color: #307994; 
  font-style:initial;
  padding-right: 5px;
}

.search-shop{
  padding: 5px 15px;
  width: 200px;
  border-radius: 50px;
  background-color: #F0F0F0;
  border: none;
  font-size: 16px;
  font-family: Arial, FontAwesome;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.vente{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #4a4a4a;
  font-size: 18px;
  font-style: initial;
}

.info-vente{
  list-style: none;
  display: inline-flex;
}

ul.info-vente{
  padding: 0;
  margin: 0;
}

.info-vente li{
  color:#9b9b9b;
  font-style: italic;
  font-size: 12px;
}

.stock, .vendu{
  margin-left: 14px;
  margin-top: 7px;
}

.stock::before {
  content: "◉"; 
  color: #d49f15; 
  font-style:initial;
  padding-right: 5px;
}

.vendu::before {
  content: "◉"; 
  color: #9b9b9b; 
  font-style:initial;
  padding-right: 5px;
}

.stats-tab{
  border-radius: 50px;
  text-align: center;
  width: 150px;
  font-size: 12px !important;
  border: 2px solid;
  padding: 5px;
  color: #00bfac;
  border-color: #00bfac;
}

.bloc-info {
  background-color: #f0f0f0;
}

.bloc-info th{
  color: #9b9b9b;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}

.bloc-info:hover{
  transform: inherit;
  box-shadow: none !important;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: middle !important;
  text-align: center;
  font-weight: 100;
  border-top: 0px solid #eceeef !important;
}

.table td img{
  width: 35px;
  border: 1px solid #eceeef;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}

table td span{
  color:#edb82f;
}

table tr:hover{
  cursor: pointer;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(173,173,173,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(173,173,173,1);
  box-shadow: 0px 0px 10px 0px rgba(173,173,173,1); 
}

.table-hover tbody tr:hover {
  background-color: #fff !important;
}

table tr{
  transition: all .125s;
  transform: scale(1) translateY(0px);
}

.buttons-more{
  display: inline-flex;
}

.buttons-more li{
  padding-right: 50px;
  list-style: none;
}

.buttons-more li button {
  font-weight: 300;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.arrow {
  display: inline-block;
  width: 8px;
  margin-left: 10px;
  height: 8px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.arrow-bottom {
  transform: rotate(135deg);
  margin-right: 3px;
}
