.layout__container {
  display: flex;
  height: 100%;
}

.layout__sidebar {
  position: fixed;
  flex-shrink: 0;
  width: 250px;
  height: 100%;
  background-color: #efefef;
  z-index: 2;
  transition: width .3s ease .3s;
}

.layout__sub-sidebar {
  position: fixed;
  left: 75px;
  flex-shrink: 0;
  width: 0;
  height: 100%;
  background-color: #fbfbfb;
  transition: width .3s ease .3s;
}

.layout__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.layout__main {
  flex-grow: 1;
  padding: 25px;
  margin-left: 250px;
  background: var(--color-blue-light);
  z-index: 1;
  transition: margin-left .3s ease .3s;
}

.header__navbar {
  display: flex;
}

.header__navbar-item {
  font-size: 0;
}

.header__navbar-item:not(:last-of-type) {
  margin-right: 10px;
}

.header__navbar-item .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__navbar-item .icon:not(.icon-user) {
  padding: 10px;
}

.header__navbar-item--user {
  display: flex;
  align-items: center;
}

.header__user-info {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}

.header__user-name {
  font-weight: bold;
}

.header__user-title {
  font-size: .8em;
}

/* Small sidebar */

.layout__container.layout__container--small .layout__sidebar {
  width: 75px;
}

.layout__container.layout__container--small .layout__main {
  margin-left: 75px;
}