.Submit {}

.Submit__input {
  all: unset;
  padding: 8px 20px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  transition: all .3s ease;
}

.Submit__input:hover {
  color: #FFFFFF;
  background-color: var(--color-primary);
}