.Submit {
  position: relative;
}

.Submit__input {
  all: unset;
  padding: 8px 20px;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease;
}

.Submit__input:hover {
  color: #FFFFFF;
  background-color: var(--color-primary);
}

.Submit.Submit--loading .Submit__input {
  padding-right: 50px;
}

.Submit__loader {
  position: absolute;
  top: 50%;
  right: 15px;
  height: 24px;
  width: 24px;
}

.Submit:hover .CircularLoader span::after {
  border-color: #FFFFFF;
}