.Autocomplete {
  position: relative;
}

.Autocomplete__input {
  min-width: 350px;
  padding: 5px 10px;
  border: 2px solid var(--color-primary);
  border-radius: 25px;
  color: var(--color-black);
  font-size: .8em;
  outline: none;
}

.Autocomplete__items {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1;
}

.Autocomplete__items-container {
  display: flex;
  flex-direction: column;
}