.BlockLine {
    display: flex;
    flex-wrap: wrap;
    color: var(--color-grey);
    align-items: center;
}

.BlockLine .BlockLine__name {
    font-family: "Oswald", sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    width: 25%;
}


.BlockLine .BlockLine__role {
    width: 30%;
}