.BlockItem {
    display: flex;
    justify-content: space-between;
    padding: 0.875em 1.6em;
}

.BlockItem:last-child {
    border-top: 1px solid var(--color-white-dark);
}

.BlockItem .BlockItem__img {
    width: 30%;
    margin: 0;
}

.BlockItem .BlockItem__img img {
    max-width: 100%;
}

.BlockItem .BlockItem__container {
    width: 65%;
    color: var(--color-grey);
}

.BlockItem .BlockItem__container .BlockItem__resume {
    font-size: 0.75em;
    margin-bottom: 0;
}

.BlockItem .BlockItem__container .BlockItem__title + .BlockItem__subTitle {
    font-family: "Oswald", sans-serif;
    font-size: 0.875em;
}