.ContentItem {
    display: flex;
    justify-content: space-between;
    padding: 0.875em 1.6em;
}

.ContentItem:last-child {
    border-top: 1px solid var(--color-white-dark);
}

.ContentItem figure {
    width: 30%;
    margin: 0;
}

.ContentItem figure img {
    max-width: 100%;
}

.ContentItem .ContentItem__container {
    width: 65%;
    color: var(--color-grey);
}

.ContentItem .ContentItem__container p {
    font-size: 0.75em;
    margin-bottom: 0;
}

.ContentItem .ContentItem__container h4 + span {
    font-family: "Oswald", sans-serif;
    font-size: 0.875em;
}