.PageTitle {
  display: flex;
  margin-bottom: 40px;
}

.PageTitle__back {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='16px' viewBox='0 0 8 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-13.000000, -10.000000%29' fill='%2300BFAC' fill-rule='nonzero'%3E%3Cpath d='M17.0927346,21.9963443 C17.2948309,21.9752503 17.4855445,21.8923416 17.6389613,21.7588838 L24.5644988,15.8124542 C24.8796262,15.5991461 25.0448113,15.2237826 24.9894251,14.84686 C24.9340388,14.4699374 24.6678852,14.1581754 24.304765,14.0448757 C23.9416447,13.9315761 23.5458344,14.0367942 23.2865729,14.3155413 L16.9999984,19.7148009 L10.7134271,14.3155413 C10.4541656,14.0367942 10.0583553,13.9315761 9.69523504,14.0448757 C9.33211483,14.1581754 9.0659612,14.4699374 9.01057494,14.84686 C8.95518868,15.2237826 9.12037381,15.5991461 9.43550119,15.8124542 L16.3610354,21.7588838 C16.5629869,21.9336433 16.8268471,22.0192747 17.0927346,21.9963443 Z' id='Shape' transform='translate%2817.000000, 18.000000%29 rotate%2890.000000%29 translate%28-17.000000, -18.000000%29 '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
}

.PageTitle__title {
  color: #4a4a4a;
  font-size: 2rem;
  text-transform: none;
}

.PageTitle__breadcrumbs {
  margin-top: 15px;
}

.PageTitle__breadcrumb-item {
  color: #9b9b9b;
  text-decoration: none;
  font-weight: 300;
}

.PageTitle__breadcrumb-item:not(:first-child) {}

.PageTitle__breadcrumb-item:not(:first-child)::before {
  display: inline-block;
  content: '>';
  margin: 0 8px;
}